<div class="container">
  <div class="grid">
    <div class="col-12">
      <h1>Lançamentos</h1>
    </div>

    <div class="col-12 field" style="padding-bottom: 15px;">
      <label for="">Descrição</label>
      <input type="text" pInputText class="p-inputtext-sm w-full descricao" />
    </div>

    <div class="col-12 field">
      <label style="display: block">Vencimento</label>
      <input
        type="text"
        pInputText
        class="p-inputtext-sm w-full"
        style="width: 95px"
      />

      <label> Até </label>
      <input
        type="text"
        pInputText
        class="p-inputtext-sm w-full"
        style="width: 95px"
      />
    </div>

    <div class="col-12 p-button-sm" style="padding-top: 15px;">
      <p-button label="Pesquisar"></p-button>
    </div>
  </div>
</div>
