
body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.descricao
{
  width: 100%;
}

label{
  font-weight: bold;
}

@media (min-width: 1200px) {
.container{
  width: 1170px;
  margin: 0 auto;
}
}

.color-icon {
  border: none;
  background-color: rgb(0, 140, 255);
  color: white;
  width: 2rem;
  border-radius: 3px;
}

.button-trash{
  border: none;
  background-color: red;
  color: white;
  width: 2rem;
  border-radius: 3px;
}